:root {
  --black: #020105;
  --white: #FFFFFF;
  --white-opacity: rgba(255, 255, 255, 0.7);
  --black-hover: #0C0B0F;
  --section: rgba(255, 255, 255, 0.04);
}

@font-face {
  font-family: "PT Root UI";
  src: url(fonts/PT-Root-UI_Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: "PT Root UI";
  src: url(fonts/PT-Root-UI_Medium.woff2);
  font-weight: 500;
}

@font-face {
  font-family: "Prosto One";
  src: url(fonts/ProstoOne-Regular.woff2);
  font-weight: 400;
}

@keyframes slide-up-80 {
 from { transform: translateY(80px); }
 to { transform: translateY(0); }
}

@keyframes fade-in {
 from { opacity: 0; }
 to { opacity: 1; }
}

@keyframes fade-down-120 {
 from { opacity: 0; transform: translateY(-120px); }
 to { opacity: 1; transform: translateY(0); }
}

@keyframes fade-up-40 {
 from { opacity: 0; transform: translateY(40px); }
 to { opacity: 1; transform: translateY(0); }
}

.tittle_h1 {
  height: 85px;
  overflow: hidden;
}

.tittle_fadeIn {
  will-change: opacity;
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0.8s;
}

.body_content {
  width: 1280px;
  margin: 0 auto;
}

body {
  margin: 0;
  background: var(--black);
  overflow-x: hidden;
  position: relative;
}

body.main_light {
  background: #F9F9FB;
}

a, span, ul, li, p, a {
  font-family: 'PT Root UI', sans-serif;
}

span {
  color: var(--white-opacity);
}

a {
  color: var(--white);
  cursor: pointer;
  text-decoration: none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Prosto One', sans-serif;
  font-display: optional;
}

.logo_img {
  background-image: url(images/logo.svg);
  width: 153px;
  height: 40px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}

.logo_img.logo_light {
  background-image: url(images/logo_light.svg);
}

.header_desktop {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.theme_language {
  display: flex;
  margin-right: 8px;
}

.theme_head {
  cursor: pointer;
  display: flex;
}

.language_head {
  width: 47px;
  margin-left: 10px;
  text-align: center;
  display: flex;
  position: relative;
  justify-content: center;
}

.language_head a {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 40px;
  color: var(--white);
  display: block;
  width: 100%;
}

.popup_language a {
  line-height: 140%;
  opacity: 0.7;
  transition: 0.1s ease-out;
}

.popup_language a:hover {
  opacity: 1;
}

.background_tittle {
  position: relative;
}

.tittle_h {
  text-align: center;
  margin-top: 120px;
}

.tittle_h span {
  width: 100%;
  display: block;
  margin: 20px auto;
  margin-bottom: 40px;
  font-size: 22px;
  line-height: 130%;
  max-width: 420px;
  margin-top: 15px;
}

.tittle_h h1 {
  font-family: 'Prosto One', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 100%;
  text-align: center;
  color: var(--white);
  will-change: transform;
  animation-name: slide-up-80;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
}

div.block_subscribe {
  display: block;
  border-radius: 10px;
  width: 234px;
  margin: 0 auto;
  transition: 0.3s ease-out;
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  height: 50px;
  max-width: 234px;
  will-change: opacity;
}

div.block_subscribe a {
  display: block;
  padding: 9px 0px;
  border-radius: 10px;
  width: 234px;
  margin: 0 auto;
  transition: 0.3s ease-out;
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  background-image: url(images/border_stroke.svg);
  height: 32px;
  background-repeat: no-repeat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32.5px;
  max-width: 234px;
  text-align: center;
}

.main_light div.block_subscribe a {
  background-color: #fff;
}

div.block_subscribe:hover a {
  background-color: var(--black-hover);
}

div.block_subscribe::before {
  transition: opacity 0.3s ease-out;
  background: linear-gradient(90deg, #6A50E4 0%, #F55725 100%);
  opacity: 0;
  filter: blur(15px);
  content: "";
  position: absolute;
  width: 234px;
  height: 50px;
  top: 0;
  left: 0;
  z-index: -2;
}

div.block_subscribe:hover::before {
  opacity: 1;
}

.background_tittle_main {
  width: 100%;
  height: 1208px;
  position: absolute;
  z-index: -3;
  top: 0px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-image: url(images/glow_1_dark.jpg);
  background-position: center;
  background-repeat: no-repeat;
  z-index: -4;
  will-change: opacity, tranform;
  opacity: 0;
  animation-name: fade-down-120;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0.8s;
}

.background_tittle_main_wrapper {
  height: 100%;
  position: relative;
}

.background_tittle_main_light {
  display: none;
}

body.main_light .background_tittle_main {
  background-image: url(images/glow_1_light.jpg);
  height: 1648px;
}

body.main_light .background_tittle_main_light {
  display: block;
  width: 100%;
  height: 1208px;
  position: absolute;
  z-index: -4;
  top: 0px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.images_tittle_illustr {
  text-align: center;
  display: flex;
  justify-content: center;
}

.images_tittle {
  position: relative;
  width: 100%;
  height: 740px;
  z-index: -4;
  will-change: opacity, transform;
  display: flex;
  opacity: 0;
  animation-name: fade-up-40;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.images_tittle_lines {
  background-image: url(images/lines.svg);
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 1528px;
  height: 100%;
  top: 0;
}

.content_light_theme .images_tittle_lines {
  background-image: url(images/lines_light.svg);
}

.images_tittle_shadow {
  display: none;
  position: absolute;
  width: 1528px;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  content: "";
  background-position: top center;
  background-size: contain;
}

.no-webp .images_tittle_shadow {
  background-image: url(images/illustration_shadow_light.jpg);
}

.webp .images_tittle_shadow {
  background-image: url(images/illustration_shadow_light.webp);
}

.content_light_theme .images_tittle_shadow {
  display: block;
}

.images_tittle_assets {
  background-position: top center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 1528px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  top: 0px;
}

.no-webp .images_tittle_assets {
  background-image: url(images/illustration_assets.png);
}

.webp .images_tittle_assets {
  background-image: url(images/illustration_assets.webp);
}

.no-webp .content_light_theme .images_tittle_assets {
  background-image: url(images/illustration_assets_light.png);
}

.webp .content_light_theme .images_tittle_assets {
  background-image: url(images/illustration_assets_light.webp);
}

.images_tittle_grid {
  background-image: url(images/grid.svg);
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 1528px;
  height: 100%;
  top: 0;
}

.content_light_theme .images_tittle_grid {
  background-image: url(images/grid_light.svg);
}

.flex_section {
  margin-bottom: 80px;
  background: var(--section);
  border-radius: 20px;
  position: relative;
}

.flex_block {
  display: flex;
  min-height: 440px;
  justify-content: space-between;
  overflow: hidden;
}

.flex_block_text {
  height: max-content;
  width: 540px;
  padding: 70px 80px;
  padding-right: 0;
  will-change: opacity;
}

.flex_block_text_right {
  padding: 0;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-right: 80px;
}

.flex_block_text h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 130%;
  color: var(--white);
  margin-bottom: 40px;
}

.flex_block_text h3 span {
  background: linear-gradient(90.32deg, #6A50E4 2.69%, #F55725 113.2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: 'Prosto One', sans-serif;
}

ul.list_text li {
  display: flex;
  color: var(--white-opacity);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  margin-top: 20px;
}

ul.list_text li:first-child {
  margin-top: 0;
}

ul.list_text li::before {
  background-image: url(images/marker.svg);
  content: "";
  width: 22px;
  display: block;
  height: 25px;
  margin-right: 12px;
  background-position: center;
  min-width: 22px;
}

.flex_block_image {
  position: relative;
  width: 620px;
  height: 440px;
  margin-top: auto;
  margin-bottom: auto;
}

.flex_block_img {
  width: 620px;
  height: 440px;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background-size: contain;
}

.flex_block_img::before {
  content: "";
  display: block;
  position: absolute;
  width: 412.91px;
  height: 329.04px;
  top: 55px;
  left: 64.62px;
  background-size: contain;
  background-repeat: no-repeat;
}

.flex_block_img::after {
  content: "";
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
}

.image_center {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.image_glow {
  width: 800px;
  height: 100%;
  background-position-y: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  z-index: -1;
}

.image_glow_right {
  background-position-x: right;
  right: 0;
}

.image_glow_left {
  background-position-x: left;
}

/* 1 image */
.no-webp .image_glow_1 {
  background-image: url(images/img_block_1/glow_dark.png);
}

.webp .image_glow_1 {
  background-image: url(images/img_block_1/glow_dark.webp);
}

/* 2 image */
.no-webp .image_glow_2 {
  background-image: url(images/img_block_2/glow_dark.png);
}

.webp .image_glow_2 {
  background-image: url(images/img_block_2/glow_dark.webp);
}

/* 3 image */
.no-webp .image_glow_3 {
  background-image: url(images/img_block_3/glow_dark.png);
}

.webp .image_glow_3 {
  background-image: url(images/img_block_3/glow_dark.webp);
}

/* 4 image */
.no-webp .image_glow_4 {
  background-image: url(images/img_block_4/glow_dark.png);
}

.webp .image_glow_4 {
  background-image: url(images/img_block_4/glow_dark.webp);
}

/* 5 image */
.no-webp  .image_glow_5 {
  background-image: url(images/img_block_5/glow_dark.png);
}

.webp  .image_glow_5 {
  background-image: url(images/img_block_5/glow_dark.webp);
}

/* 6 image */
.no-webp .image_glow_6 {
  background-image: url(images/img_block_6/glow_dark.png);
}

.webp .image_glow_6 {
  background-image: url(images/img_block_6/glow_dark.webp);
}

/* 7 image */
.no-webp .image_glow_7 {
  background-image: url(images/img_block_7/glow_dark.png);
}

.webp .image_glow_7 {
  background-image: url(images/img_block_7/glow_dark.webp);
}

.subscribe_text {
  margin-bottom: 220px;
}

.subscribe_text h4 {
  color: var(--white);
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 130%;
  text-align: center;
  will-change: transform;
}

.animate_sub {
  height: max-content;
  overflow: hidden;
  margin-bottom: 15px;
}

.subscribe_text span {
  color: var(--white-opacity);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  display: block;
  margin-bottom: 35px;
  text-align: center;
  will-change: opacity;
}

.text_footer {
  text-align: center;
  padding-bottom: 100px;
}

.text_footer span {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
}

.subscribe_block {
  position: relative;
  max-height: 768px;
  padding-top: 250px;
}

.subscribe_block_illustr {
  display: block;
  content: "";
  background-image: url(images/glow_footer.jpg);
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 768px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  background-position-x: center;
  background-repeat: no-repeat;
  will-change: opacity;
}

.main_light .subscribe_block_illustr {
  background-image: url(images/glow_footer_light.jpg);
}

.subscribe_text_button {
  display: block;
  border-radius: 10px;
  width: 234px;
  margin: 0 auto;
  transition: 0.3s ease-out;
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  height: 50px;
  max-width: 234px;
}

.border_theme {
  width: 60px;
  height: 30px;
  margin: auto;
}

/* new cart */
.icon_cart {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 4;
  will-change: opacity, transform;
}

.image_center {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 12;
}

.img_contour_dark {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 10;
}

.flex_block_image_1 .img_contour_dark {
  background-image: url(images/img_block_1/img_contour_dark.svg);
}

.main_light .flex_block_image_1 .img_contour_dark {
  background-image: url(images/img_block_1/img_contour_light.svg);
}

.flex_block_image_2 .img_contour_dark {
  background-image: url(images/img_block_2/img_contour_dark.svg);
}

.main_light .flex_block_image_2 .img_contour_dark {
  background-image: url(images/img_block_2/img_contour_light.svg);
}

.flex_block_image_3 .img_contour_dark {
  background-image: url(images/img_block_3/img_contour_dark.svg);
}

.main_light .flex_block_image_3 .img_contour_dark {
  background-image: url(images/img_block_3/img_contour_light.svg);
}

.flex_block_image_4 .img_contour_dark {
  background-image: url(images/img_block_4/img_contour_dark.svg);
}

.main_light .flex_block_image_4 .img_contour_dark {
  background-image: url(images/img_block_4/img_contour_light.svg);
}

.flex_block_image_5 .img_contour_dark {
  background-image: url(images/img_block_5/img_contour_dark.svg);
}

.main_light .flex_block_image_5 .img_contour_dark {
  background-image: url(images/img_block_5/img_contour_light.svg);
}

.flex_block_image_6 .img_contour_dark {
  background-image: url(images/img_block_6/img_contour_dark.svg);
}

.main_light .flex_block_image_6 .img_contour_dark {
  background-image: url(images/img_block_6/img_contour_light.svg);
}

.flex_block_image_7 .img_contour_dark {
  background-image: url(images/img_block_7/img_contour_dark.svg);
}

.main_light .flex_block_image_7 .img_contour_dark {
  background-image: url(images/img_block_7/img_contour_light.svg);
}

.lines_middle, .lines_bottom, .img_shadow_light {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  will-change: opacity, transform;
}

.img_shadow_light {
  display: none;
}

.main_light .img_shadow_light {
  display: block;
}

.lines_middle {
  z-index: 3;
}

.lines_bottom {
  z-index: 2;
}

.img_shadow_light {
  z-index: 1;
}

.flex_block_image_1 .lines_middle {
  background-image: url(images/img_block_1/lines_middle.svg);
}

.flex_block_image_1 .lines_bottom {
  background-image: url(images/img_block_1/lines_bottom.svg);
}

.no-webp .flex_block_image_1 .image_center {
  background-image: url(images/img_block_1/img.png);
}

.webp .flex_block_image_1 .image_center {
  background-image: url(images/img_block_1/img.webp);
}

.no-webp .main_light .flex_block_image_1 .img_shadow_light {
  background-image: url(images/img_block_1/img_shadow_light.png);
}

.webp .main_light .flex_block_image_1 .img_shadow_light {
  background-image: url(images/img_block_1/img_shadow_light.webp);
}

.main_light .flex_block_image_1 .lines_middle {
  background-image: url(images/img_block_1/lines_middle_light.svg);
}

.main_light .flex_block_image_1 .lines_bottom {
  background-image: url(images/img_block_1/lines_bottom_light.svg);
}

/* end cart */
.no-webp .flex_block_image_2 .image_center {
  background-image: url(images/img_block_2/img.png);
}

.webp .flex_block_image_2 .image_center {
  background-image: url(images/img_block_2/img.webp);
}

.flex_block_image_2 .lines_middle {
  background-image: url(images/img_block_2/lines_middle.svg);
}

.flex_block_image_2 .lines_bottom {
  background-image: url(images/img_block_2/lines_bottom.svg);
}

.no-webp .main_light .flex_block_image_2 .img_shadow_light {
  background-image: url(images/img_block_2/img_shadow_light.png);
}

.webp .main_light .flex_block_image_2 .img_shadow_light {
  background-image: url(images/img_block_2/img_shadow_light.webp);
}

.main_light .flex_block_image_2 .lines_middle {
  background-image: url(images/img_block_2/lines_middle_light.svg);
}

.main_light .flex_block_image_2 .lines_bottom {
  background-image: url(images/img_block_2/lines_bottom_light.svg);
}

/* end cart */
.no-webp .flex_block_image_3 .image_center {
  background-image: url(images/img_block_3/img.png);
}

.webp .flex_block_image_3 .image_center {
  background-image: url(images/img_block_3/img.webp);
}

.flex_block_image_3 .lines_middle {
  background-image: url(images/img_block_3/lines_middle.svg);
}

.flex_block_image_3 .lines_bottom {
  background-image: url(images/img_block_3/lines_bottom.svg);
}

.no-webp .main_light .flex_block_image_3 .img_shadow_light {
  background-image: url(images/img_block_3/img_shadow_light.png);
}

.webp .main_light .flex_block_image_3 .img_shadow_light {
  background-image: url(images/img_block_3/img_shadow_light.webp);
}

.main_light .flex_block_image_3 .lines_middle {
  background-image: url(images/img_block_3/lines_middle_light.svg);
}

.main_light .flex_block_image_3 .lines_bottom {
  background-image: url(images/img_block_3/lines_bottom_light.svg);
}

/* end cart */
.no-webp .flex_block_image_4 .image_center {
  background-image: url(images/img_block_4/img.png);
}

.webp .flex_block_image_4 .image_center {
  background-image: url(images/img_block_4/img.webp);
}

.flex_block_image_4 .lines_middle {
  background-image: url(images/img_block_4/lines_middle.svg);
}

.flex_block_image_4 .lines_bottom {
  background-image: url(images/img_block_4/lines_bottom.svg);
}

.no-webp .main_light .flex_block_image_4 .img_shadow_light {
  background-image: url(images/img_block_4/img_shadow_light.png);
}

.webp .main_light .flex_block_image_4 .img_shadow_light {
  background-image: url(images/img_block_4/img_shadow_light.webp);
}

.main_light .flex_block_image_4 .lines_middle {
  background-image: url(images/img_block_4/lines_middle_light.svg);
}

.main_light .flex_block_image_4 .lines_bottom {
  background-image: url(images/img_block_4/lines_bottom_light.svg);
}

/* end cart */
.no-webp .flex_block_image_5 .image_center {
  background-image: url(images/img_block_5/img.png);
}

.webp .flex_block_image_5 .image_center {
  background-image: url(images/img_block_5/img.webp);
}

.flex_block_image_5 .lines_middle {
  background-image: url(images/img_block_5/lines_middle.svg);
}

.flex_block_image_5 .lines_bottom {
  background-image: url(images/img_block_5/lines_bottom.svg);
}

.no-webp .main_light .flex_block_image_5 .img_shadow_light {
  background-image: url(images/img_block_5/img_shadow_light.png);
}

.webp .main_light .flex_block_image_5 .img_shadow_light {
  background-image: url(images/img_block_5/img_shadow_light.webp);
}

.main_light .flex_block_image_5 .lines_middle {
  background-image: url(images/img_block_5/lines_middle_light.svg);
}

.main_light .flex_block_image_5 .lines_bottom {
  background-image: url(images/img_block_5/lines_bottom_light.svg);
}

/* end cart */
.no-webp .flex_block_image_6 .image_center {
  background-image: url(images/img_block_6/img.png);
}

.webp .flex_block_image_6 .image_center {
  background-image: url(images/img_block_6/img.webp);
}

.flex_block_image_6 .lines_middle {
  background-image: url(images/img_block_6/lines_middle.svg);
}

.flex_block_image_6 .lines_bottom {
  background-image: url(images/img_block_6/lines_bottom.svg);
  z-index: 3;
}

.no-webp .main_light .flex_block_image_6 .img_shadow_light {
  background-image: url(images/img_block_6/img_shadow_light.png);
}

.webp .main_light .flex_block_image_6 .img_shadow_light {
  background-image: url(images/img_block_6/img_shadow_light.webp);
}

.main_light .flex_block_image_6 .lines_middle {
  background-image: url(images/img_block_6/lines_middle_light.svg);
}

.main_light .flex_block_image_6 .lines_bottom {
  background-image: url(images/img_block_6/lines_bottom_light.svg);
}

/* end cart */
.no-webp .flex_block_image_7 .image_center {
  background-image: url(images/img_block_7/img.png);
}

.webp .flex_block_image_7 .image_center {
  background-image: url(images/img_block_7/img.webp);
}

.flex_block_image_7 .lines_middle {
  background-image: url(images/img_block_7/lines_middle.svg);
}

.flex_block_image_7 .lines_bottom {
  background-image: url(images/img_block_7/lines_bottom.svg);
}

.no-webp .main_light .flex_block_image_7 .img_shadow_light {
  background-image: url(images/img_block_7/img_shadow_light.png);
}

.webp .main_light .flex_block_image_7 .img_shadow_light {
  background-image: url(images/img_block_7/img_shadow_light.webp);
}

.main_light .flex_block_image_7 .lines_middle {
  background-image: url(images/img_block_7/lines_middle_light.svg);
}

.main_light .flex_block_image_7 .lines_bottom {
  background-image: url(images/img_block_7/lines_bottom_light.svg);
}

/* end cart */
.popup_cookie {
  width: 1280px;
  box-sizing: border-box;
  padding: 40px 60px;
  background: var(--black-hover);
  border-radius: 10px;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 20px;
  z-index: 999999;
  box-shadow: 0px 0px 4px rgba(12, 11, 15, 0.04), 0px 4px 8px rgba(12, 11, 15, 0.06);
  will-change: opacity;
}

.main_light .popup_cookie {
  box-shadow: 0px 0px 4px rgba(31, 0, 204, 0.04), 0px 4px 8px rgba(31, 0, 204, 0.06);
}

.popup_cookie_flex {
  display: flex;
}

.popup_cookie_flex p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: var(--white-opacity);
  margin: 0;
}

.popup_cookie_flex .block_subscribe {
  width: 109px;
  box-sizing: border-box;
  margin-left: 40px;
  height: 46px;
}

.popup_cookie_flex .block_subscribe a {
  width: auto;
  max-width: 109px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: var(--white);
  padding: 13px 26px;
  height: 20px;
  background-image: url(images/border_stroke_cookie.svg);
}

.popup_cookie_flex div.block_subscribe::before {
  transition: opacity 0.3s ease-out;
  background: linear-gradient(90deg, #6A50E4 0%, #F55725 100%);
  opacity: 0;
  filter: blur(15px);
  content: "";
  position: absolute;
  width: 109px;
  height: 46px;
  top: 0;
  left: 0;
  z-index: -2;
}

.popup_cookie_flex div.block_subscribe:hover::before {
  opacity: 1;
}

.glow_2_light {
  display: none;
}

.main_light .glow_2_light {
  display: block;
  width: 100%;
  height: 3148px;
  position: absolute;
  top: 1648px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-image: url(images/glow_2_light.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.popup_language {
  padding: 20px 30px;
  background: var(--black-hover);
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(12, 11, 15, 0.04), 0px 4px 8px rgba(12, 11, 15, 0.06);
}

.main_light .popup_language {
  box-shadow: 0px 0px 4px rgba(31, 0, 204, 0.04), 0px 4px 8px rgba(31, 0, 204, 0.06);
}

.popup_language_wrapper {
  display: none;
  position: absolute;
  right: 0;
  top: 40px;
  padding-top: 5px;
}

.change_language:hover~.popup_language_wrapper {
  display: block;
}

.popup_language_wrapper:hover {
  display: block;
}

/* mobile version */
@media screen and (max-width: 449px) {
  .body_content {
    width: auto;
    margin: 0 15px;
  }

  .flex_block_image.flex_block_image_pc {
    display: none;
  }

  .flex_block_image.flex_block_image_mobile {
    display: block;
    order: 0;
  }

  .flex_block {
    flex-direction: column;
    align-items: center;
  }

  .flex_block_image {
    height: 300px;
    transform: translateX(0px);
  }

  .flex_block_image_1, .flex_block_image_3, .flex_block_image_7 {
    transform: translateX(25px);
  }

  .flex_block_text {
    width: auto;
    padding: 0 30px;
    padding-bottom: 40px;
  }

  .flex_block_text_mobile {
    order: 2;
  }

  .flex_block_text h3 {
    font-size: 26px;
    margin-bottom: 30px;
    line-height: 125%;
  }

  .flex_block_text h3 br {
    display: none;
  }

  ul.list_text li {
    font-size: 16px;
  }

  ul.list_text li::before {
    width: 15px;
    height: 18px;
    min-width: 15px;
    margin-top: 2px;
  }

  .subscribe_block {
    padding-top: 130px;
  }

  .subscribe_text {
    margin-bottom: 130px;
  }

  .images_tittle {
    transform: scale(0.5) !important;
    width: 200%;
    height: 400px;
    right: 0;
    left: calc(-100% + 30px);
    margin: 0 auto;
    margin-top: -100px;
    display: none
  }

  .subscribe_text span {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    font-size: 16px;
  }

  .tittle_h span {
    font-size: 18px;
  }

  .tittle_h h1 {
    font-size: 74px;
  }

  .background_tittle {
    margin-bottom: 180px;
  }

  .flex_section {
    margin-bottom: 50px;
    overflow: hidden;
  }

  .logo_img {
    height: 34px;
  }

  .subscribe_text h4 {
    font-size: 26px;
    line-height: 125%;
    width: 320px;
    margin: 0 auto;
  }

  .animate_sub {
    margin-bottom: 20px;
  }

  .text_footer span {
    font-size: 16px;
  }

  .text_footer {
    padding-bottom: 50px;
  }

  .image_glow {
    height: 100%;
    left: 0;
    right: 0;
    width: 100%;
    background-position: top -90px right -90px;
  }

  .image_glow_left {
    background-position: top -90px right -260px;
  }

  .popup_cookie {
    width: auto;
    padding: 20px 20px;
    padding-bottom: 30px;
    margin: 0px 10px;
  }

  .popup_cookie_flex {
    display: block;
  }

  .popup_cookie_flex .block_subscribe {
    margin: 20px auto;
    margin-bottom: 0;
  }

  .popup_cookie_flex p {
    font-size: 14px;
  }

  .background_tittle_main {
    background-image: url(images/glow_1_dark_mobile.jpg);
  }

  .subscribe_block_illustr {
    background-image: url(images/glow_footer_mobile.jpg);
  }

  body.main_light .background_tittle_main {
    background-image: url(images/glow_1_light_mobile.jpg);
  }

  .main_light .subscribe_block_illustr {
    background-image: url(images/glow_footer_light_mobile.jpg);
  }

  .main_light .glow_2_light {
    background-image: url(images/glow_2_light_mobile.jpg);
  }

  br {
    display: none;
  }
}

/* tablet version */
@media screen and (min-width: 450px) and (max-width: 1339px) {
  br {
    display: none;
  }

  .body_content {
    width: auto;
    margin: 0 35px;
  }

  .background_tittle {
    margin-bottom: 200px;
  }

  .images_tittle {
    display: none;
  }

  .popup_cookie {
    width: auto;
    padding: 25px;
    padding-bottom: 30px;
    margin: 0 15px;
  }

  .popup_cookie_flex p {
    font-size: 14px;
  }

  .flex_block {
    flex-direction: column;
    align-items: center;
  }

  .flex_section {
    margin-bottom: 50px;
  }

  .flex_block_text h3 {
    font-size: 32px;
    margin-bottom: 30px;
  }

  .subscribe_text span {
    width: 270px;
    margin-left: auto;
    margin-right: auto;
  }

  .text_footer {
    padding-bottom: 70px;
  }

  .subscribe_block {
    padding-top: 180px;
  }

  .animate_sub {
    margin-bottom: 20px;
  }

  .subscribe_text {
    margin-bottom: 170px;
  }

  .subscribe_text h4 {
    width: 420px;
    font-size: 34px;
    margin: 0 auto;
  }

  .tittle_h {
    margin-top: 80px;
  }
}

@media screen and (min-width: 450px) and (max-width: 799px) {
  .body_content {
    width: auto;
    margin: 0 25px;
  }

  .flex_block_image {
    height: 360px;
  }

  .flex_block_image_mobile {
    transform: translateX(20px);
  }

  .popup_cookie_flex {
    display: block;
  }

  .popup_cookie_flex .block_subscribe {
    margin: 20px auto;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 450px) and (max-width: 639px) {
  .background_tittle_main {
    background-image: url(images/glow_1_dark_640.jpg);
  }

  body.main_light .background_tittle_main {
    background-image: url(images/glow_1_light_640.jpg);
  }

  .subscribe_block_illustr {
    background-image: url(images/glow_footer_640.jpg);
  }

  .main_light .subscribe_block_illustr {
    background-image: url(images/glow_footer_light_640.jpg);
  }

  .main_light .glow_2_light {
    background-image: url(images/glow_2_light_640.jpg);
  }

  .image_glow {
    height: 100%;
    left: 0;
    right: 0;
    width: 100%;
    background-position: top -90px right -90px;
  }

  .image_glow_left {
    background-position: top -90px right -260px;
  }

  .flex_block_text {
    width: auto;
    order: 2;
  }

  .flex_block_text, .flex_block_text_right {
    padding: 0 40px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 640px) and (max-width: 1023px) {
  .background_tittle_main {
    background-image: url(images/glow_1_dark_1024.jpg);
  }

  body.main_light .background_tittle_main {
    background-image: url(images/glow_1_light_1024.jpg);
  }

  .subscribe_block_illustr {
    background-image: url(images/glow_footer_1024.jpg);
    background-position-y: 100px;
  }

  .main_light .subscribe_block_illustr {
    background-image: url(images/glow_footer_light_1024.jpg);
  }

  .main_light .glow_2_light {
    background-image: url(images/glow_2_light_1024.jpg);
  }

  .flex_block_text {
    width: auto;
    order: 2;
  }

  .flex_block_text, .flex_block_text_right {
    padding: 0 60px;
    padding-bottom: 70px;
    align-self: flex-start;
  }

  .subscribe_text h4 {
    width: 410px;
  }

  .subscribe_text span {
    width: 320px;
  }

  .image_glow {
    height: 100%;
    left: 0;
    right: 0;
    width: 100%;
    background-position: top -90px right -20%;
  }

  .image_glow_left {
    background-position: top -90px right 120%;
  }

  .flex_section {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1339px) {
  .popup_cookie_flex p {
    font-size: 16px;
  }

  .flex_block {
    flex-direction: row;
    align-items: flex-start;
  }

  .images_tittle {
    display: flex;
    height: 48.5vw;
  }

  .background_tittle {
    margin-bottom: 0;
  }

  .subscribe_text h4 {
    width: auto;
  }

  .subscribe_text span {
    width: auto;
  }

  .subscribe_block_illustr {
    background-position-y: 80px;
  }

  .tittle_h {
    margin-top: 120px;
  }

  .image_glow_left {
    background-position-x: -100px;
  }

  .main_light .glow_2_light {
    height: 2800px;
  }

  .images_tittle_shadow, .images_tittle_grid, .images_tittle_lines, .images_tittle_assets {
    width: 100vw;
  }
}
